table {
	margin: 1em auto;
	border-collapse: collapse;
}
td, tr, input {
	border-width: 1px;
	margin: 0px;
	padding: 0px;
}
td, input {
	font-size: 20px;
	height: 30px;
	width: 30px;
	text-align: center;
}
td:nth-child(3n) {
	border-right: solid ;
}
tr:nth-child(3n) td {
	border-bottom: solid ;
}

#submit {
	font-size: 20px;
	display: block;
	margin: 0 auto;
}

input.error {
    border-color: red;
}